:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    img {
        margin: 0 16px;
    }

    .link {
        margin: 0 16px;
        color: #fff;

        &:hover {
            opacity: 0.8;
        }
    }

}



.content {
    position: relative;
    height: calc(100% - 60px);
    /* display: flex; */
    /* margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px; */
}