/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.map-container {
    position: absolute;
    width: 100%;
    height: 100%;

    .map {
        background: transparent;
        position: relative;
        height: 100%;
        width: 100%;
    }
}

// .leaflet-pixi-overlay {
//     position: absolute;
//     z-index: 999999;
// }
.glify-points {
    position: absolute;
    z-index: 999999;
}
