.change-basemap {
    position: absolute;
    background: white;
    z-index: 9999;
    top: 15px;
    right: 15px;

    .basemap-item {
        padding: 5px 15px;

        &:hover {
            background: #f8f8f8;
            cursor: pointer;
        }
    }
}