<div class="map-container">
    <ai-map class="map" [mapSettings]="mapSettings" [basemaps]="basemaps" [basemapName]="basemapName"
        (mapReady)="mapReady($event)" (mapUpdated)="mapUpdated($event)">
        <div class="change-basemap">
            <div *ngFor="let basemap of basemapList" class="basemap-item" (click)="changeBasemap($event, basemap)">
                {{ basemap.name }}
            </div>
        </div>
    </ai-map>
</div>